.page.theme_dark {
  --background-color: #000028;
  
  --main-title-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-color-secondary: #FF0070;
  --text-color: #F1B2CE;
  
  --button-hover: rgba(255, 0, 112, 0.40);
  
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header-decor {
  display: block;
}
