.page.theme_light {
  --background-color: #FFF1F7;
  
  --main-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  
  --button-hover: rgba(50, 49, 45, 0.40);
  
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header-decor {
  display: none;
}

.theme_light .title-decor {
  color: currentColor;
}

.theme_light .section__title {
  color: currentColor;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7; 
    --main-title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --text-color: #353430;
  
    --button-hover: rgba(50, 49, 45, 0.40);
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__decor {
    display: none;
  }
  
  .title-decor {
    color: currentColor;
  }
  
  .section__title {
    color: currentColor;
  }
}
