:root {
  --background-color: #000028;
  --accent-color: #FF0070;
  --accent-color-secondary: #FF0070;
  --text-color: #F1B2CE;
  --text-color-secondary: #000028;

  --main-font-family: 'IBM Plex mono', monospace;
  --main-font-size: 18px;
  --main-line-height: 130%;
  --main-title-color: #DB00FF;
  --main-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --indent-horizontal: 10px;
  --indent-vertical: 40px;
  --indent-gap: 50px;

  --button-hover: rgba(255, 0, 112, 0.40);
}

@media (width >= 768px) {
  :root {
    --indent-horizontal: 20px;
    --indent-vertical: 60px;
    --indent-gap: 80px;

    --main-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
